.folder-items {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.folder-item {
    background-color: rgb(204, 111, 111);
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-item {
    background-color: rgb(188, 196, 188);
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder-link {
    cursor: pointer;
    color: green;
}