.modal-wrapper {
    width: 500px;
    height: 300px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px #b4b1b1;
    background-color: white;
}

.modal-wrapper.active {
    animation-name: slide;
    animation-duration: 0.4s;
}

@keyframes slide {
    from {
        transform: translate(-50%, -200%);
        width: 200px;
    }
    to {
        transform: translate(-50%, -50%);
        width: 500px;
    }
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.modal-header span {
    cursor: pointer;
}

.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: #b4b1b1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}