.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    position: relative;
}

.step {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.step.active {
    background-color: rgb(160, 160, 228);
    transition: all 0.2s ease;
}

.progress-bar {
    position: absolute;
    height: 2px;
    background-color: rgb(160, 160, 228);
    width: 100%;
    transition: all 0.2s ease;
    z-index: -1;
    top: 50%;
    left: 0;
}