.todo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 10px;
    margin: auto;
}

.todo-input {
    width: 100%;
    height: 20px;
}

.todo-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.status {
    color: green;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid rgb(126, 121, 121);
}

.completed {
  background-color: lightgreen;
}

.delete-action {
    cursor: pointer;
}
.item.completed .name {
    text-decoration: line-through;
}